<h1>Welcome to your To Do!</h1>

<h2> Completed tasks </h2>
<ul>
  <% @tasks.done.each do |task| %>
    <li><a href="/<%= task.id %>"><%= task.description %></a></li>
  <% end %>
</ul>

<h2> Tasks to complete </h2>
<ul>
  <% @tasks.not_done.each do |task| %>
    <li><a href="/<%= task.id %>"><%= task.description %></a></li>
  <% end %>
</ul>


<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/" method="post">
  <label for="task_description">Description</label>
  <input id="task_description" name="task[description]" type="text" value="<%@task.description %>">
  <button> Create Task </button>
</form>


